header {
    padding: 1rem;
}

aside {
    margin: 1rem 0 1rem 0;
}

.navbar {
    justify-content: space-around;
}

.navlink {
    margin: 1rem;
}

#dock-image {
    width: 50%;
    margin-top: 2rem;
}

#aside-header, .aside-content, #aside-ulist {
    font-family: 'Gill Sans', sans-serif;
}

#aside-ulist {
    list-style-type: none;
}