header {
    padding: 1rem;
}

aside {
    margin: 1rem 0 1rem 0;
}

td {
    border: 1px solid black;
    padding-right: 1rem;
}

footer {
    background-color: navy;
    color: white;
}

.navbar {
    justify-content: space-around;
    position: relative;
    border: 1px solid navy;
}

.navlink {
    margin: 1rem;
}

.navlink:hover {
    transition-duration: 5ms;
    background-color: palegoldenrod;
}

.city-info {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    position: absolute;
    right: 0;
}

#main-image {
    width: 50%;
    margin-top: 2rem;
}

.aside-header, .aside-content, #aside-ulist {
    font-family: 'Gill Sans', sans-serif;
}

#aside-ulist {
    list-style-type: none;
}

#disclaimer {
    float: left;
    margin-right: 1rem;
}