header {
    padding: 1rem;
}

aside {
    margin: 1rem 0 1rem 0;
}

td {
    border: 1px solid black;
    padding-right: 1rem;
}

.navbar {
    justify-content: space-around;
}

.navlink {
    margin: 1rem;
}

.city-info {
    display: flex;
    justify-content: space-evenly;
}

#main-image {
    width: 50%;
    margin-top: 2rem;
}

#aside-header, .aside-content, #aside-ulist {
    font-family: 'Gill Sans', sans-serif;
}

#aside-ulist {
    list-style-type: none;
}